<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <appSettings>
    <!--default 默认的连接字符串配置名-->
    <add key="default" value="nuc" />
    <!--test 测试环境连接字符串配置名-->
    <add key="test" value="nuc" />
	<!--DebugMode开关-->
	<add key="DebugMode" value="true" />
    <!--sql 主查询SQL语句-->
    <add key="sql" value="select top 100 * from OP110Data order by id desc" />
    <!--ShowSplashScreen 软件启动时是否显示欢迎屏幕-->
    <add key="ShowSplashScreen" value="true" />
    <!--PointNameKeyword 识别有效测点的关键字，主查询语句中的字段，只有包含该关键字才会加入菜单中-->
    <add key="PointNameKeyword" value="MP" />
    <!--DataTableSortKey 能够代表真实下线顺序的字段，如果数据库中有ID字段，推荐使用ID字段排序，否则需要使用能够反应真实下线顺序的字段-->
    <add key="DataTableSortKey" value="id" />
    <!--LockYAxisLimit 是否锁定Y轴的上下限，如果true，上下限由下方的2个Limit指定，如果为false，程序自动调整上下限-->
    <add key="FixYAxisLimit" value="false" />
    <add key="yAxisUpperLimit" value="1" />
    <add key="yAxisLowerLimit" value="-1" />
    <!--IDFieldExist 数据库中是否存在ID字段，如果存在，程序会使用现有的ID字段作为横轴，如果不存在，程序会在内存生成辅助的ID字段用于显示横轴-->
    <add key="IDFieldExist" value="true" />
    <add key="IDFieldName" value="ID" />
    <!--IDFieldExist 数据库中是否存在ID字段，如果存在，程序会使用现有的ID字段作为横轴，如果不存在，程序会在内存生成辅助的ID字段用于显示横轴-->
    <add key="DateTimeFieldName" value="EntryTime" />
    <add key="FrameSNFieldName" value="Frame_SerialNumber" />
    <!--注意：以下键值用于拼接完整的产量查询语句，故意缺失了where 后的部分-->
    <add key="hourlyVolumeSqlString" value="select id from dbo.OP110Data where EntryTime " />
    <add key="dailyVolumeSqlString" value="select id from dbo.OP110Data where EntryTime " />
    <!--volumeSqlStringDateFormat 产量查询中DateTime字符串-->
    <add key="volumeSqlStringDateFormat" value="yyyy-MM-dd HH:mm" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <connectionStrings>
    <add name="production" connectionString="Data Source= 192.168.0.118,1433;Initial Catalog=testDB; User ID = sa;Password=123456;" />
    <add name="nuc" connectionString="Data Source= NUC\SQLEXPRESS;Initial Catalog=testDB; Integrated Security=true;" />
    <add name="home" connectionString="Data Source= PC-Alex\SQLEXPRESS;Initial Catalog=testDB; Integrated Security=true;" />
  </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="ScottPlot" publicKeyToken="86698dc10387c39e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.58.0" newVersion="4.1.58.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>